.main {
  max-width: 1144px;
  height: calc(100% - 8em);
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 552px;
  }
}

.title {
  font-size: 3.5em;
  margin-bottom: 1em;
  font-weight: 600;
}

.sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;

  &__item {
    cursor: pointer;
    height: 15em;
    width: 16em;
    border-radius: 19px;
    perspective: 1000px;
    transition: 0.3s;
  }

  &__status {
    align-self: end;
    margin: 0 0 5px 0;
    background-color: $clr-blue-2;
    border-radius: 15px;
    width: 18px;
    height: 18px;
  }
}

.front._refrash {
  box-shadow: 4px 8px 4px $clr-dark-hover;
  transform: rotateY(180deg);
}
.back._refrash {
  box-shadow: 4px 8px 4px $clr-dark-hover;
  transform: rotateY(360deg);
}

._play {
  background-color: $clr-yellow-2;
}

.front,
.back {
  cursor: pointer;
  background: $clr-white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  border-radius: 0.8em;
  backface-visibility: hidden;
}

.front {
  &:hover {
    box-shadow: 4px 8px 4px $clr-dark-hover;
  }

  &__description {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7px;
  }

  &__subtitle {
    color: $clr-darkgray;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 70%;
  }

  &__title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: $clr-darkgray-2;
  }

  &__refrash {
    background-image: url(../images/repeat.svg);
    background-size: contain;
    filter: invert(0.5);
    height: 25px;
    width: 25px;
  }
}

.back {
  transform: rotateY(180deg);
}

._full {
  height: 100%;
}