.play {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  margin-bottom: 40px;
}

.start {
  display: flex;
  align-items: center;
  padding: 1px;
  width: 134px;
  height: 44px;
  background-color: $clr-yellow-2;
  border-radius: 21px;
  transition: 0.4s;
  border: 2px solid $clr-yellow-2;

  &:hover &__text {
    transform: translate(39px);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr-white;
    width: 90px;
    height: 38px;
    border-radius: 19px;
    font-size: 20px;
    font-weight: 600;
    color: $clr-yellow-2;
    transition: 0.4s;
    cursor: pointer;
  }
}

.answer {
  display: flex;
  justify-content: end;
  width: 50%;
  overflow: hidden;
  &__image {
    height: 40px;
    width: 40px;
  }
} 

.start._start-active {
  width: 44px;
}
.start._start-active:hover .start__text{
  transform: none;
}

.start__text._start-active {
  width: 38px;
}

.arrow {
  display: none;
  width: 38px;
  height: 38px;
  fill: $clr-yellow-2;
}

.start__text._start-active .arrow {
  display: block;
}

.start__text._start-active .text {
  display: none;
}

.play._mode-active {
  display: flex;
}

._disable {
  filter: grayscale(1);
}

.status {
  position: fixed;
  z-index: 100;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: $clr-yellow-2;

  &__img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    filter: invert(1);
  }

  &__mistakes {
    font-size: 50px;
    font-weight: 600;
    color: $clr-red-1;
  }
}

._status-active {
  display: flex;
}