.stats__container {
  display: flex;
  align-self: end;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 10px;
  width: 100%;
}

.stats__start:hover .stats__text {
  transform: translate(0);
}

.stats__start {
  width: auto;
  
}

.stats__text {
  width: 100%;
  padding: 5px;
}

.table {
  width: 100%;

  &__title {
    background-color: $clr-yellow-2;
    color: $clr-white;
    margin: 0;
    line-height: 80px;
  }

  &__col{
    display: table-cell;
    padding: 15px 0;
    text-align: center;
    height: 50px;
    background-color: $clr-white;
  }
}


.head {
  background-color: $clr-darkgray;
  cursor: pointer;
  color: $clr-white;
  font-weight: 600;
}

._up::after {
  content: ' ⬆ ';
}

._down::after {
  content: ' ⬇ ';
}

@media (max-width: 500px) {
  .table__col {
    font-size: 11px;
  }
}