$clr-yellow-1: rgb(221, 237, 42);
$clr-yellow-2: #edb31e;
$clr-blue-1: #3c8cd1;
$clr-blue-2: #014fc4;
$clr-white: #ffffff;
$clr-red-1: rgb(255, 0, 0);
$clr-darkgray: darkgray;
$clr-darkgray-2: rgb(66, 66, 66);
$clr-dark-hover: rgb(0 0 0 / 20%);